.questionPerDayBox{
    align-content: center;
    margin-top: 10vh;
}

.calendarParent{
    height: 50vh;
}
.calendarParent:hover{
    filter:brightness(110%);
    transition: 300ms;
}

.headerBox{
    background-color: rgba(250, 235, 215, 0.262);
}
.headerBox:hover{
    background-color: rgba(250, 235, 215, 0.362);
    transition: 300ms;
}

.calendar {
    /* overflow-x: auto; */
    background-color: rgba(245, 245, 220, 0.311);
    border-radius: 3%;
}
.calendar:hover{
    background-color: rgba(245, 245, 220, 0.411);
    transition: 300ms;
}


.headerBoxAnswer{
    background-color: rgba(184, 231, 225, 0.774);
    border-radius: 55%;
}

.headerBoxAnswer:hover{
    background-color: rgba(184, 231, 225, 0.627);
    transition: 300ms;
}